<div data-dojo-attach-point="contentNode" class="container">
    <div class="row">

        <div class="col-9"><h2>Data Discovery Studio </h2>
            <p>The Data Discovery Studio part of the <a target="_blank" href="http://earthcube.org/">Earthcube</a>
                project. To learn more about this project, view the project website here: <a target="_blank"
                                                                                             href="http://earthcube.org/">http://earthcube.org</a>
            </p>
        </div>
        <div class="col-2"><image src="images/logo_earthcube_cube-only_150.png" height="150" width="150"/></div>
    </div>
    <div class="row">
        <div class="col-12">


            <div data-dojo-type="app/search/StartSearchBox"
                 data-dojo-props="
           script: 'custom/searchBoxTypeahead.js',
          "></div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card" >
                <img class="card-img-top" src="images/DataDiscoveryStudio.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Categories</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" >
                <img class="card-img-top" src="images/DataDiscoveryStudio.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" >
                <img class="card-img-top" src="images/DataDiscoveryStudio.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Map</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-12">

            <img height="150" width="150" src="images/earthcube.png"/>
            <img height="150" width="150" src="images/NSF_4-Color_bitmap_Logo.png"/>
            <img height="150" width="150" src="images/sgci-new-logo-words-below-black.png"/>
        </div>


    </div>


</div>


